div{
    padding: 20px;
    background-color: rgb(194, 181, 137);
}
div>h3{
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}
div{
    display: flex;
    flex-direction: column;
}