/*Tabla form*/
#tableForm td{
    border: none;
    padding: 4px;
}
#tableForm td>h3{
    text-align: center;
}
#botones>button{
    width: calc(80%/3);
    padding-top: 5px;
    padding-bottom: 4px;
    display: inline-block;
    font-size: 1.25em;
}
tr>td:nth-child(2){
    width: 400px;
    color: red;
}
#informacion{
    background:rgb(239, 244, 159);
}
.opcional{
    border-color: yellow;
}
.obligatorio{
    border-color: blue;
}
.bloqueado{
    border-color: red;
}